/* Common */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 60%;
    margin: auto;
}

img {
    max-width: 100%;
}

.row {
    row-gap: 2rem;
}

body {
    font-family: 'PT Sans', sans-serif;
}

/* Colors Palette */

:root {
    
    --primary--: #9792E4;
    --secondary--: #0084FD;
    --dark--: #333333;
    --demo--: #B5DDFF;
    --text--: #5E7385;
    --getstarted--: #C2BFEF;
    --bgtestimonial--: #E7E8EA;
    --free--: #FDC15F;
    --bgwhite--: #FFFFFF;
    --bgabout--: #B4B4B4;

}

/* Header */

header {
    background-color: var(--secondary--);
    margin-bottom: 2rem;
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
}

nav img {
    width: 4rem;
}

.main_menu {
    list-style: none;
}

.main_menu li {
    display: inline-block;
}

.main_menu a {
    text-decoration: none;
    color: var(--bgwhite--);
    font-size: 0.9rem;
    padding: 0.5rem;
}

.main_menu .btn_white {
    color: var(--dark--);
}

.mobile_nav {
    display: none;
}

.mobile_nav i {
    color: var(--bgwhite--);
    font-size: 1.5rem;
}

/* Main */

.demo {
    margin-bottom: 3rem;
}

.card {
    display: flex;
    background-color: var(--demo--);
    border-radius: 1.6rem;
    padding: 0 1rem;
    padding-top: 1rem;
}

.col_8 h3, i {
    color: var(--secondary--);
    padding: 1rem;
}

.card img {
    max-width: 250px;
    align-self: flex-end;
    object-fit: contain;
}

.card i {
    font-size: 3rem;
    padding-left: 1.5rem;
    color: var(--secondary--);
}

.card_body i {
    color: var(--bgwhite--);
    font-size: 2rem;
    vertical-align: sub;
}

.card p {
    line-height: 1.5rem;
    font-weight: bold;
    padding-bottom: 1rem;
    padding-left: 1rem;
    font-size: 0.9rem;
    color: var(--text--);
}

.card .btn_blue {
    margin-left: 1rem;
}

.col_4 .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    height: 100%;
}

.card_header h3 {
    color: var(--secondary--);
}

.planning {
    background-color:var(--primary--);
}

.planning .container {
    width: 50%;
}

.strategic_planning {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    color: var(--bgwhite--);
}

.strategic_planning img {
    object-fit: contain;
    width: 280px;
    padding: 3rem 0;
}

.strategic_planning p {
    font-size: 0.9rem;
    line-height: 1.5rem;
} 

.app_developement {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    background-color: var(--bgwhite--);
    border-radius: 1.6rem;
    margin-top: 8rem;
}

.app_developement img {
    object-fit: contain;
    width: 200px;
}

.app_developement h4 {
    font-weight: bold;
}

.app_developement p {
    font-size: 0.9rem;
    line-height: 1.5rem;
    font-style: italic;
    padding: 0 1rem;
}

.circle {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: var(--primary--);
    height: 1.5rem;
    width: 1.5rem;
    margin-bottom: 1rem;
}

.circle i {
    color: var(--dark--);
}

.testimonials .heading {
    text-align: center;
}

.testimonials .heading h2 {
    padding-bottom: 1rem;
    color: var(--primary--);
}

.testimonials .heading h6 {
    font-weight: normal;
    padding: 1rem 0;
}

.testimonials .heading p {
    font-size: 0.9rem;
    font-family: italic;
}

.testimonials .col_12 {
    padding: 0.8rem 0;
}

.testimonial {
    border-radius: 1rem;
    margin: auto;
    background-color: var(--primary--);
}

.testimonial p {
    font-size: 0.9rem;
    color: var(--bgwhite--);
    font-family: italic;
    padding-top: 3rem;
    padding-bottom: 0.6rem;
}

.testimonial h5 {
    font-size: 0.9rem;
    color: var(--bgwhite--);
    font-weight: normal;
    padding-top: 0.6rem;
    padding-bottom: 1.5rem;
}

.avatar {
    align-items: center;
}

.avatar img {
    border-radius: 50%;
    height: 120px;
    width: 180px;
    object-fit: cover;
    padding: 0.6rem;
}

.benefits {
    background-color: var(--primary--);
}

.call_to_action {
    background-color: var(--primary--);
}


/* Footer */

footer {
    background-color: var(--dark--);
}

/* Utilities */

.d-flex {
    display: flex;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -1rem;
}

[class^="col"] {
    padding: 0 1rem;
}

.col_4 {
    width: calc((100% / 12) *4);
}

.col_6 {
    width: calc((100% / 12) *6);
}

.col_8 {
    width: calc((100% / 12) *8);
}

.col_12 {
    width: calc((100% / 12) *12);
}

.btn_blue {
    border-radius: 1.6rem;
    padding: 0.8rem 3rem;
    font-size: 0.9rem;
    font-weight: bold;
    border: var(--secondary--);
    color: var(--bgwhite--);
    background-color: var(--secondary--);
    text-decoration: none;
  }

  .btn_white {
    border-radius: 1.6rem;
    line-height: 0;
    font-size: 0.9rem;
    color: var(--dark--);
    background-color: var(--bgwhite--);
  }

  .clearfix::after {
    content: "";
    display: table;
    clear: both;
  }


/* Debug */

/* .debug .demo {
    height: 500px;
    background-color: red;
} */

/* .debug .planning {
    height: 500px;
} */

/* .debug .testimonials {
    height: 700px;
    background-color: aquamarine;
}

.debug .heading {
    height: 200px;
    background-color: blue;
}

.debug .testimonial {
    height: 150px;
    width: 350px;
    background-color:antiquewhite;
    border: 1px solid;
}

.debug .avatar {
    background-color: brown;
    height: 80px;
    width: 80px;
} */

.debug .call_to_action {
    height: 350px;
    
}

.debug footer {
    height: 200px;
}

/* .debug [class^="col"] {
    background-color: pink;
    border: 1px solid black;
    height: 250px;
} */

/* Responsive */

/* Desktop */
@media screen and (max-width: 1200px) {

 

}  

/* Tablet */
@media screen and (max-width: 768px) {

    .main_menu {
        display: none;
    }

    .mobile_nav {
        display: block;
    }

    .md_12 {
        width: calc((100% / 12) *12);
    }

    .md_6 {
        width: calc((100% / 12) *6);
    }

    .md_8 {
        width: calc((100% / 12) *8);
    }

    .md_4 {
        width: calc((100% / 12) *4);
    }

    .demo .container {
        max-width: 80%;
    }

    .card {
        flex-direction: column;
    }

    .card img {
        max-width: 150px;
        align-self: self-start;
        object-fit: contain;
        padding-top: 2rem;
    }

}
   

/* Mobile */
@media screen and (max-width: 480px) {

    .main_menu {
        display: none;
    }

    .mobile_nav {
        display: block;
    }

    .sm_12 {
        width: calc((100% / 12) *12);
    }

    .demo .container {
        max-width: 55%;
    }

    .card img {
        max-width: 200px;
        align-self: center;
    }

    .card_body i {
        font-size: 1.5rem;
    }

    .card .btn_blue {
        padding: 0.5rem 2rem;
        font-size: 0.8rem;
    }

}    

