/* Common */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 80%;
    margin: auto;
}

img {
    max-width: 100%;
}

/* Colors Palette */

:root {
    
    --primary--: #9792E4;
    --secondary--: #0084FD;
    --dark--: #333333;
    --demo--: #B5DDFF;
    --getstarted--: #C2BFEF;
    --bgtestimonial--: #E7E8EA;
    --free--: #FDC15F;
    --bgwhite--: #FFFFFF;
    --bgabout--: #B4B4B4;

}

/* Header */

header {
    background-color: var(--secondary--);
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
}

.main_menu {
    display: none;
}

/* Debug */

.debug .logo {
    height: 30px;
    border: 1px solid;
    width: 150px;
}

.debug header {
    height: 60px;
}

/* Responsive */

/* Mobile */
@media screen and (min-width: 480px) {

    .main_menu {
        display: none;
    }
}

/* Tablet */
@media screen and (min-width: 768px) {

    .main_menu {
        display: none;
    }
}

/* Desktop */
@media screen and (min-width: 1200px) {

    .main_menu {
        display: block;
    }

}
